<nav>
	<div class="navbar">
		<a class="logo" routerLink="/home">Recept PWA</a>

		<ul id="menu">
			<li>
				<a routerLink="/search" routerLinkActive="active">Receptek</a>
				<ul class="sub-menu">
					<li class="row">
						<h4>Édességek</h4>
						<ul class="chips">
							<li><a routerLink="/">Torta</a></li>
							<li><a routerLink="/">Pizza</a></li>
							<li><a routerLink="/">Leves</a></li>
							<li><a routerLink="/">Tárt</a></li>
							<li><a routerLink="/">Muffin</a></li>
							<li><a routerLink="/">Pite</a></li>
						</ul>
					</li>
					<li class="row">
						<h4>Évaszakok</h4>
						<div class="chips">
							<li><a routerLink="/">Tavasz</a></li>
							<li><a routerLink="/">Nyár</a></li>
							<li><a routerLink="/">Ősz</a></li>
							<li><a routerLink="/">Tél</a></li>
						</div>
					</li>
				</ul>
			<li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
			<li><a routerLink="/about" routerLinkActive="active">Rólunk</a></li>
			<span class="slider"></span>
		</ul>
	
		<div id="user-menu">	
			<input class="dropdown-toggle" type="checkbox" id="dropdown-toggle"/>
			<ng-container *ngIf="authService.user$ | async as User; else visitor">
				<label for="dropdown-toggle">
					<ng-container *ngIf="User.profile_picture; else defaultImage">
						<img class="profile-image user-icon" [src]="User.profile_picture" alt="Profile Image">
					</ng-container>
					<ng-template #defaultImage>
						<span class="material-icons user-icon">person</span>
					</ng-template>
					<div id="hamburger-container" (click)="toggleDropdown()" [ngClass]="{'open': isOpen}">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
				</label>
			</ng-container>
			<ng-template #visitor>
				<button class="cta login-btn" type="button" routerLink="/login">Bejelentkezés</button>
			</ng-template>

			<ul class="dropdown">
				<ng-container *ngIf="authService.user$ | async as User; else guestMenu">
					<li routerLink="/settings/profile">
						<a>Profil</a>
						<span class="material-icons">settings</span>
					</li>
					<li (click)="logout()">
						<a href="">Kijelentkezés</a>
						<span class="material-icons">logout</span>
					</li>
				</ng-container>
				<ng-template #guestMenu>
					<li routerLink="/register">
						<a>Regisztrálj</a>
						<span class="material-icons">chevron_right</span>
					</li>
					<li routerLink="/login">
						<a>Bejelentkezés</a>
						<span class="material-icons">chevron_right</span>
					</li>
				</ng-template>
			</ul>
		</div>
	</div>

	<div id="mobile-nav">
		<div class="accordion mobile-nav-link-container">
			<section>
				<input class="accordion-checkbox" type="checkbox" id="first" checked>
				<label for="first">
					<i class="material-icons">chevron_right</i>
					<h3>Receptek</h3>
				</label>
				<div class="content">
					<a routerLink="/">Torta</a>
					<a routerLink="/">Pizza</a>
					<a routerLink="/">Leves</a>
					<a routerLink="/">Tárt</a>
					<a routerLink="/">Muffin</a>
					<a routerLink="/">Pite</a>
				</div>
			</section>
		</div>

		<div class="mobile-nav-link-container">
			<a routerLink="/blog" class="mobile-nav-link">Blog</a>
		</div>
		<div class="mobile-nav-link-container">
			<a routerLink="/about" class="mobile-nav-link">Rólunk</a>
		</div>

		<div class="mobile-nav-link-container">
			<a routerLink="/register" class="mobile-nav-link">Regisztrálj</a>
		</div>

		<div class="mobile-nav-link-container">
			<a routerLink="/login" class="mobile-nav-link">Bejelentkezés</a>
		</div>

		<div class="mobile-nav-link-container">
			<a routerLink="/settings/profile" class="mobile-nav-link">Profil</a>
		</div>
		<div class="mobile-nav-link-container">
			<a (click)="logout()" class="mobile-nav-link" href="">Kijelentkezés</a>
		</div>

	</div>
</nav>