.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2.25rem;
	height: 2.25rem;
	border-radius: .25rem;
	border: none;
	background-color: transparent;
	transition: all 0.2s ease;

	&.close:hover,
	&.close:focus {
		background-color: lightcoral;
	}

	&.add:hover,
	&.add:focus {
		background-color: lightgreen;
	}
}

.paragraph-row,
.image-upload-container {
	position: relative;

	.icon-btn {
		position: absolute;
		top: 0;
		right: 0;
		margin: .5rem;
	}
}

.image-upload {
	display: grid;
	margin-top: 0.5rem;
	grid-template-columns: repeat(1, minmax(0, 1fr));

	input {
		display: none;
	}

	label {
		width: 100%;
		display: grid;
		place-items: center;
		border-radius: 0.5rem;
		border: 4px dashed darkgray;
		color: black;
		cursor: pointer;

		transition: all 0.2s ease;

		&:hover {
			border: 4px dashed black;
		}

		.label-content {
			padding: 2.5rem;
		}

		svg {
			width: 2.2em;
			height: 2.2em;
		}
	}
}
