<div class="container">
	<form [formGroup]="blogEditForm" (ngSubmit)="create()">
		<section>
			<div class="image-upload">
				<label for="blog-image">
					@if (blogImgSrc) {
						<img [src]="blogImgSrc" alt="">
					} @else {
						<div class="label-content">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
							<p>Drag your image here or click in this area</p>
						</div>
					}
				</label>
				<input id="blog-image" type="file" formControlName="image" (change)="onContentImageSelected($event)">
			</div>
			<input type="text" formControlName="title" placeholder="Blog neve" (keyup)="onTitleChange($event)">
			<textarea formControlName="description" placeholder="Blog leírása"></textarea>

			<div class="radio-group">
				<input id="draft" value="draft" type="radio" formControlName="status" checked>
				<label for="draft">Vázlat</label>
				<input id="published" value="published" type="radio" formControlName="status">
				<label for="published">Publikált</label>
				<input id="archived" value="archived" type="radio" formControlName="status">
				<label for="archived">Archívált</label>
			</div>

			<div class="accordion">
				<section>
					<input class="accordion-checkbox" id="show-more" type="checkbox" checked>
					<label for="show-more">
						<i class="material-icons">chevron_right</i>
						<h3>Haladó beállítások</h3>
					</label>
					<div class="content">
						<input type="text" formControlName="slug" placeholder="Slug" value="{{ slug }}">
						<input type="text" formControlName="meta_description" placeholder="Meta leírás">
					</div>
				</section>
			</div>
		</section>

		<section class="paragraphs">
			<h3>Paragrafusok</h3>


			<ol formArrayName="content">
				<li *ngFor="let paragraph of content.controls; let i = index" [formGroupName]="i">

					<app-dropdown-select
						formControlName="contentType"
						[placeholder]="'Blokk típusa'"
						[options]="['Alcím', 'Paragrafus', 'Kép', 'Gallária']"
						(selectionChange)="onSelectionChange($event)">
					</app-dropdown-select>

					@switch (getContentTypeAt(i).value) {
						@case ('Alcím') {
							<div class="paragraph-row">
								<input formControlName="text" type="text" placeholder="Alcím">
							</div>
						}
						@case ('Paragrafus') {
							<div class="paragraph-row">
								<textarea formControlName="text" cols="30" rows="3" placeholder="Paragrafus"></textarea>
								<button class="warning" type="button" title="Leírás eltávolítása"
									(click)="removeContent(i)">
									<i class="material-icons icon">close</i>
									<span class="visually-hidden">Leírás eltávolítása</span>
								</button>
							</div>
						}
						@case ('Kép') {
							<div class="image-gallery" formArrayName="images">
								<div class="image-upload-container" *ngFor="let image of getImagesAt(i).controls; let j = index">
									<div class="image-upload">
										<label for="{{ i + '-' + j}}">
											@if (paragraphImgSrc.get(i+'-'+j)) {
												<img [src]="paragraphImgSrc.get(i+'-'+j)" alt="">
											} @else {
												<div class="label-content">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
														stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
															d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
													</svg>
													<p>Drag your image here or click in this area</p>
												</div>
											}
										</label>
										<input id="{{ i + '-' + j}}" type="file" [formControlName]="j"
											(change)="onParagraphImageSelected($event, i, j)">
									</div>
									<button class="warning" type="button" title="Kép eltávolítása" (click)="removeImageInput(i, j)">
										<i class="material-icons icon">close</i>
										<span class="visually-hidden">Kép eltávolítása</span>
									</button>
								</div>
								<button class="success" type="button" title="Kép hozzáadása" (click)="addImageInput(i)">
									<i class="material-icons icon">add</i>
									<span class="visually-hidden">Kép hozzáadása</span>
								</button>
							</div>
						}
						@case ('Gallária') {
							<div class="image-gallery" formArrayName="images">
								<div class="image-upload-container"
									*ngFor="let image of getImagesAt(i).controls; let j = index">
									<div class="image-upload">
										<label for="{{ i + '-' + j}}">
											@if (paragraphImgSrc.get(i+'-'+j)) {
												<img [src]="paragraphImgSrc.get(i+'-'+j)" alt="">
											} @else {
												<div class="label-content">
													<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
														stroke="currentColor">
														<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
															d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
													</svg>
													<p>Drag your image here or click in this area</p>
												</div>
											}
										</label>
										<input id="{{ i + '-' + j}}" type="file" [formControlName]="j"
											(change)="onParagraphImageSelected($event, i, j)">
									</div>
									<button class="warning" type="button" title="Kép eltávolítása" (click)="removeImageInput(i, j)">
										<i class="material-icons icon">close</i>
										<span class="visually-hidden">Kép eltávolítása</span>
									</button>
								</div>
								<button class="success" type="button" title="Kép hozzáadása" (click)="addImageInput(i)">
									<i class="material-icons icon">add</i>
									<span class="visually-hidden">Kép hozzáadása</span>
								</button>
							</div>
						}
						@default {
							<p>default</p>
						}
					}
				</li>
			</ol>
			<button class="success" type="button" title="Paragrafus hozzáadása" (click)="addContent()">
				<i class="material-icons icon">add</i>
				<span class="visually-hidden">Paragrafus hozzáadása</span>
			</button>
		</section>

		<section>
			@if (blogSlug) {
				<button type="button" (click)="update()">Frissítés</button>
				<button class="warning" type="button" (click)="delete()">Törlés</button>
			} @else {
				<button class="cta" type="submit">Mentés</button>
			}
		</section>
	</form>
</div>