<div class="recipe-card">
    <img src="https://cdn.mindmegette.hu/2024/04/Ib5WSlv97GUo1gVS-82xdYtksEM4J__nR2jtto0afQk/fill/0/0/no/1/aHR0cHM6Ly9jbXNjZG4uYXBwLmNvbnRlbnQucHJpdmF0ZS9jb250ZW50L2I0NjBjMmI4ZWMxMTQ3OTI5NmJmMGMxOWJiNjk2MWFm.jpg" alt="recipe image">

    <div class="tags">
        <span class="tag">torta</span>
        <span class="tag">túrótorta</span>
        <span class="tag">buli</span>
        <span class="tag">glutént tartalmazó gabonafélék</span>
    </div>

    <h3 class="title">Málnás-tejszínes túrótorta</h3>

    <ul class="info">
        <li>50 perc</li>
        <li>12 adag</li>
        <li>Közepes</li>
    </ul>
</div>