<div class="card">

    <img src="https://images.unsplash.com/photo-1601049676869-702ea24cfd58?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                    alt="Trust & Co.">

    <div class="content">
        <h3>Title goes here.</h3>
        <p>Ide majd egy rövid bemutató, amivel kis ízelítő fog jönni abból amit olvashatsz. Hogy hány karakter? nos azt még nem döntöttem el, de annyi biztos, hogy meg kell szabnom...</p>
    </div>
    
</div>