<div class="recipe-card">
    <img src="https://cdn.mindmegette.hu/2024/04/UrXKBGLp9pri_ShobMFgBcWZ-9SEHT0N_1LxtP62uPs/fill/0/0/no/1/aHR0cHM6Ly9jbXNjZG4uYXBwLmNvbnRlbnQucHJpdmF0ZS9jb250ZW50LzFhN2YyNTMyNGMyYTQ0OWFiMzc3NTBiYWUwODgzMjQy.jpg" alt="recipe image">

    <div class="tags">
        <a class="tag" href="">lepény</a>
        <a class="tag" href="">őszi</a>
        <a class="tag" href="">szilva</a>
    </div>

    <h3 class="title">Mákos szilvás lepény</h3>

    <ul class="info">
        <li>75 perc</li>
        <li>8 adag</li>
        <li>Könnyű</li>
    </ul>
</div>