<section>
	@for (blog of blogs | async; track blog.id) {
		@defer {
			<!-- <div class="card" routerLink="/blog/{{blog.slug}}"> -->
			<div class="card" routerLink="/blog/{{blog.slug}}">
				<div class="img-container">
					<img [src]="blog.image" alt="{{ blog.title }}">
				</div>

				<div class="content">
					<h3>{{ blog.title }}</h3>
					<p>{{ blog.description }}</p>
					<p>{{ blog.created_at | date : 'y MMMM d' }}</p>
				</div>
			</div>
		} @loading (minimum 1s) {
			<div class="card loading">
				<div class="img-container"></div>
				<div class="content">
					<h3></h3>
					<p></p>
					<p></p>
				</div>
			</div>
		}
	}
</section>