<div class="container">
	<form [formGroup]="recipeEditForm" (ngSubmit)="saveRecipe()">
		<header>
			<div class="image-upload">
				<label for="recipe-image">
					@if (recipeImgSrc) {
						<img [src]="recipeImgSrc" alt="">
					} @else {
						<div class="label-content">
							<svg xmlns="http://www.w3.org/2000/svg" fill="none"
								viewBox="0 0 24 24" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
									d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
							</svg>
							<p>Drag your image here or click in this area</p>
						</div>
					}
				</label>
				<input id="recipe-image" type="file" formControlName="image" (change)="onRecipeImageSelected($event)">
			</div>
			<div class="recipe__info">
				<ul class="info">
					<li>
						<i class="material-icons">pie_chart</i>
						<input type="number" formControlName="servings" placeholder="adag">
					</li>
					<li>
						<i class="material-icons">schedule</i>
						<input type="number" formControlName="timeToMake" placeholder="elkészítési idő">
					</li>
				</ul>
				<input type="text" formControlName="name" placeholder="Recept neve">
				<textarea formControlName="description" cols="30" rows="10" placeholder="Recept leírása"></textarea>
			</div>

			<div class="categories" formArrayName="categories">
				<div *ngFor="let category of categories.controls; let i = index">
					<input [formControlName]="i" placeholder="kategória"/>
					<button class="icon-btn" type="button" (click)="removeCategory(i)" title="kategória eltávolítása">
						<i class="material-icons">close</i>
					</button>
				</div>
				
				<button class="icon-btn" type="button" (click)="addCategory()" title="kategória hozzáadása">
					<i class="material-icons">add</i>
				</button>
			</div>
		</header>

		<section class="instructions">
			<h3>Elkészítés</h3>

			<ol formArrayName="instructions">
				<li *ngFor="let instruction of instructions.controls; let i = index" [formGroupName]="i">
					<div class="instruction-row">
						<textarea formControlName="text" cols="30" rows="3" placeholder="Recept leírása"></textarea>
						<button class="icon-btn" type="button" title="leírás eltávolítása" (click)="removeInstruction(i)">
							<i class="material-icons">close</i>
						</button>
					</div>
					<div class="image-gallery" formArrayName="images">
						<div *ngFor="let image of getImagesAt(i).controls; let j = index">
							<div class="image-upload">
								<label for="{{ i + '-' + j}}">
									@if (instructionImgSrc.get(i+'-'+j)) {
										<img [src]="instructionImgSrc.get(i+'-'+j)" alt="">
									} @else {
										<div class="label-content">
											<svg xmlns="http://www.w3.org/2000/svg" fill="none"
												viewBox="0 0 24 24" stroke="currentColor">
												<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
													d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
											</svg>
											<p>Drag your image here or click in this area</p>
										</div>
									}
								</label>
								<input id="{{ i + '-' + j}}" type="file" [formControlName]="j" (change)="onInstructionImageSelected($event, i, j)">
							</div>
							<button class="icon-btn" type="button" title="kép eltávolítása" (click)="removeImageInput(i, j)">
								<i class="material-icons">close</i>
							</button>
						</div>
						<button class="icon-btn" type="button" title="kép hozzáadása" (click)="addImageInput(i)">
							<i class="material-icons">add</i>
						</button>
					</div>
				</li>
				<button class="icon-btn" type="button" title="leírás hozzáadása" (click)="addInstruction()">
					<i class="material-icons">add</i>
				</button>
			</ol>
		</section>
		
		<section class="ingredients" formArrayName="ingredients">
			<h3>Hozzávalók</h3>

			<ng-container *ngFor="let elem of ingredients.controls; let i = index" [formGroupName]="i">
				<div class="row">
					<input type="text" formControlName="title">
					<button class="icon-btn" type="button" (click)="removeIngredient(i)">
						<i class="material-icons">add</i>
					</button>
				</div>
				<ul formArrayName="ingredientList">
					<li *ngFor="let ingredient of getIngredientListAt(i).controls; let j = index">
						<div class="row">
							<input type="text" [formControlName]="j">
							<button class="icon-btn" type="button" (click)="removeIngredientItem(i, j)">
								<i class="material-icons">close</i>
							</button>
						</div>
					</li>
					<button class="icon-btn" type="button" (click)="addIngredientItem(i)">
						<i class="material-icons">add</i>
					</button>
				</ul>
			</ng-container>
			<button class="icon-btn" type="button" (click)="addIngredient()">
				<i class="material-icons">add</i>
			</button>
		</section>

		<section>
			<button class="btn" type="submit">Mentés</button>
			<button class="btn" type="button">Mégse</button>
		</section>
	</form>
</div>