<div class="recipe-card">
    <img src="https://cdn.mindmegette.hu/2024/04/opzjny9csMKOEH_pU9QME4PMmz8OZP3_mjsUsP_aWNY/fill/0/0/no/1/aHR0cHM6Ly9jbXNjZG4uYXBwLmNvbnRlbnQucHJpdmF0ZS9jb250ZW50L2Y0YTEyYjU1MjVjNzRiOWRhNTUzYjhjZDFlZmMxNWEy.jpg" alt="recipe image">

    <div class="tags">
        <a class="tag" href="">pecsenye</a>
        <a class="tag" href="">cigánypecsenye</a>
        <a class="tag" href="">sertéshús receptek</a>
    </div>

    <h3 class="title">Cigánypecsenye kétféleképpen</h3>

    <ul class="info">
        <li>30 perc</li>
        <li>4 adag</li>
        <li>Könnyű</li>
    </ul>
</div>