<div class="recipe-card">
    <img src="https://cdn.mindmegette.hu/2024/04/opzjny9csMKOEH_pU9QME4PMmz8OZP3_mjsUsP_aWNY/fill/0/0/no/1/aHR0cHM6Ly9jbXNjZG4uYXBwLmNvbnRlbnQucHJpdmF0ZS9jb250ZW50L2Y0YTEyYjU1MjVjNzRiOWRhNTUzYjhjZDFlZmMxNWEy.jpg" alt="{{ recipe.name }}">

    <div class="tags">
        @for (tag of recipe.categories; track $index) {
			<a class="chips link" href="#">{{ tag }}</a>
		}
    </div>
    

    <a [routerLink]="[ '/search', recipe.id ]" class="title">{{ recipe.name }}</a>

    <ul class="info">
        <li>30 perc</li>
        <li>4 adag</li>
        <li>Könnyű</li>
    </ul>
</div>