<section>
	<header>
		<h2>Blogok</h2>

		<select [(ngModel)]="selectedOption" (change)="sortBlogs()">
			<option value="time-asc">Legújabb elől</option>
			<option value="time-desc">Legrégebbi elől</option>
			<option value="name-asc">Név szerint [A-Z]</option>
			<option value="name-desc">Név szerint [Z-A]</option>
		</select>

		<app-dropdown-select
			[placeholder]="'Rendezés'"
			[options]="['Legújabb elől', 'Legrégebbi elől', 'Név szerint [A-Z]', 'Név szerint [Z-A]']"
			(selectionChange)="onSelectionChange($event)">
		</app-dropdown-select>
	</header>

	<main>
		<app-blog-list [blogs$]="blogs"></app-blog-list>
	</main>

</section>