<section class="recipe-showcase">
    <h2>Legnépszerűbb édességek</h2>

    <!-- <div class="recipes">
        <app-recipe-card></app-recipe-card>
        <app-recipe-card2></app-recipe-card2>
        <app-recipe-card3></app-recipe-card3>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card2></app-recipe-card2>
        <app-recipe-card3></app-recipe-card3>
    </div> -->
    <div class="recipes">
        @for (currentRecipe of recipeList; track $index) {
            <app-recipe-card2 [recipe]="currentRecipe"></app-recipe-card2>
        }
    </div>
    
</section>

<section class="blog-showcase">
    <h2>Legnépszerűbb blogbejegyzések</h2>

    <div class="blogs">
        <app-blog-card2></app-blog-card2>
        <app-blog-card2></app-blog-card2>
        <app-blog-card2></app-blog-card2>
        <app-blog-card2></app-blog-card2>
    </div>
</section>