<h1>Főoldal</h1>


<section class="recipe-showcase">
    <h2>Legnépszerűbb édességek</h2>

    <div class="recipes">
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
        <app-recipe-card></app-recipe-card>
    </div>
</section>

<section class="blog-showcase">
    <h2>Legnépszerűbb blogbejegyzések</h2>

    <div class="blogs">
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
    </div>
</section>