<div class="container">
	<form [formGroup]="recipeEditForm" (ngSubmit)="saveRecipe()">
		<header>
			<div class="image-upload">
				<label for="recipe-image">
					@if (recipeImgSrc) {
					<img [src]="recipeImgSrc" alt="">
					} @else {
					<div class="label-content">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
								d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
						</svg>
						<p>Drag your image here or click in this area</p>
					</div>
					}
				</label>
				<input id="recipe-image" type="file" formControlName="image" (change)="onRecipeImageSelected($event)">
			</div>
			<div class="recipe__info">
				<ul class="info">
					<li>
						<i class="material-icons">pie_chart</i>
						<input type="number" formControlName="servings" placeholder="adag">
					</li>
					<li>
						<i class="material-icons">schedule</i>
						<input type="number" formControlName="timeToMake" placeholder="elkészítési idő">
					</li>
				</ul>
				<input type="text" formControlName="name" placeholder="Recept neve">
				<textarea formControlName="description" cols="30" rows="10" placeholder="Recept leírása"></textarea>
			</div>

			<div class="categories" formArrayName="categories">
				<div class="icon-input" *ngFor="let category of categories.controls; let i = index">
					<input [formControlName]="i" placeholder="kategória">
					<button class="warning" type="button" (click)="removeCategory(i)" title="kategória eltávolítása">
						<i class="material-icons icon">close</i>
						<span class="visually-hidden">Kategória eltávolítása</span>
					</button>
				</div>

				<button class="success" type="button" title="Kategória hozzáadása" (click)="addCategory()">
					<i class="material-icons icon">add</i>
					<span class="visually-hidden">Kategória hozzáadása</span>
				</button>
			</div>

			<div class="radio-group">
				<input type="radio" id="easy" name="selector">
				<label for="easy">Könnyű</label>
				<input type="radio" id="medium" name="selector">
				<label for="medium">Közepes</label>
				<input type="radio" id="hard" name="selector">
				<label for="hard">Nehéz</label>
			</div>
		</header>

		<section class="instructions">
			<h3>Elkészítés</h3>

			<ol formArrayName="instructions">
				<li *ngFor="let instruction of instructions.controls; let i = index" [formGroupName]="i">
					<div class="instruction-row">
						<textarea formControlName="text" cols="30" rows="3" placeholder="Recept leírás"></textarea>
						<!-- <button class="icon-btn" type="button" title="leírás eltávolítása" (click)="removeInstruction(i)">
							<i class="material-icons icon">close</i>
						</button> -->
						<button class="warning" type="button" title="Leírás eltávolítása" (click)="removeInstruction(i)">
							<i class="material-icons icon">close</i>
							<span class="visually-hidden">Leírás eltávolítása</span>
						</button>
					</div>
					<div class="image-gallery" formArrayName="images">
						<div class="image-upload-container" *ngFor="let image of getImagesAt(i).controls; let j = index">
							<div class="image-upload">
								<label for="{{ i + '-' + j}}">
									@if (instructionImgSrc.get(i+'-'+j)) {
									<img [src]="instructionImgSrc.get(i+'-'+j)" alt="">
									} @else {
									<div class="label-content">
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
											stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
												d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
										</svg>
										<p>Drag your image here or click in this area</p>
									</div>
									}
								</label>
								<input id="{{ i + '-' + j}}" type="file" [formControlName]="j"
									(change)="onInstructionImageSelected($event, i, j)">
							</div>
							<button class="warning" type="button" title="Kép eltávolítása" (click)="removeImageInput(i, j)">
								<i class="material-icons icon">close</i>
								<span class="visually-hidden">Kép eltávolítása</span>
							</button>
						</div>
						<button class="success" type="button" title="Kép hozzáadása" (click)="addImageInput(i)">
							<i class="material-icons icon">add</i>
							<span class="visually-hidden">Kép hozzáadása</span>
						</button>
					</div>
				</li>
				<button class="success" type="button" title="Leírás hozzáadása" (click)="addInstruction()">
					<i class="material-icons icon">add</i>
					<span class="visually-hidden">Leírás hozzáadása</span>
				</button>
			</ol>
		</section>

		<section class="ingredients" formArrayName="ingredients">
			<h3>Hozzávalók</h3>

			<ng-container *ngFor="let elem of ingredients.controls; let i = index" [formGroupName]="i">
				<div class="icon-input row">
					<input type="text" formControlName="title">
					<button class="warning" type="button" title="Lista eltávolítása" (click)="removeIngredient(i)">
						<i class="material-icons icon">close</i>
						<span class="visually-hidden">Lista eltávolítása</span>
					</button>
				</div>
				<ul formArrayName="ingredientList">
					<li *ngFor="let ingredient of getIngredientListAt(i).controls; let j = index">
						<div class="icon-input row">
							<input type="text" [formControlName]="j">
							<button class="warning" type="button" title="Listaelem eltávolítása" (click)="removeIngredientItem(i, j)">
								<i class="material-icons icon">close</i>
								<span class="visually-hidden">Listaelem eltávolítása</span>
							</button>
						</div>
					</li>
					<button class="success" type="button" title="Listaelem hozzáadása" (click)="addIngredientItem(i)">
						<i class="material-icons icon">add</i>
						<span class="visually-hidden">Listaelem hozzáadása</span>
					</button>
				</ul>
			</ng-container>
			<button class="success" type="button" title="Lista hozzáadása" (click)="addIngredient()">
				<i class="material-icons icon">add</i>
				<span class="visually-hidden">Lista hozzáadása</span>
			</button>
		</section>

		<section>
			<button class="cta" type="submit">Mentés</button>
		</section>
	</form>
</div>