.content {
	margin: 0 auto;
	width: calc(min(80rem, 95%));
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
    }
}
.tabs {
	display: flex;
	flex-direction: column;
    gap: .3rem;

	@media (max-width: 800px) {
        flex-direction: row;
	}

    a {
		padding: 0.75em 1em;
		border-radius: 8px;
		text-decoration: none;
		color: var(--clr-text);
		transition: var(--transition);
		border: 2px solid transparent;

		&.active-tab {
			background-color: var(--clr-surface3);
		}
		&:hover,
		&:focus {
			border: var(--border);
		}
	}
}

.card-grid {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	column-gap: 1.5rem;
	row-gap: 1.5rem;

	@media (min-width: 800px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}
}
